@use '/src/shared/styles/colors.scss' as *;
@use '/src/shared/styles/common.scss' as *;
@use '/src/shared/styles/mixins.scss' as *;

.title {
  @include card-title();
  font-size: 28px !important;
  color: $primary-color !important;
  margin-bottom: 25px !important;
}


// task script
.group {
  height: 100%;

  border-color: rgba(#000, .1);

  transition: box-shadow .4s;

  &:hover {
    box-shadow: 0 4px 10px rgba($primary-color, .2);
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
  padding-left: $padding-base;
}

.subtask {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: $gap-base;
}

.disabled {
  color: $text-dark;
  opacity: .5;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: 1px solid $inactive;
  border-radius: $border-radius-md;
  color: #000;
  padding: 0 15px;

  transition: color, border-color .2s ease-in;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }
}