@use '/src/shared/styles/colors.scss' as *;
@use '/src/shared/styles/common.scss' as *;

.title {
  margin-top: $margin-base;
}

.warning-icon {
  color: $warning;
  margin-right: $margin-sm;
}

.divider {
  border-color: rgba($secondary-color, 0.5);
  margin: $margin-base 0;
}

.pre-label {
  color: $secondary-color;
}