@use '/src/shared/styles/colors.scss' as *;
@use '/src/shared/styles/common.scss' as *;

.title {
  margin-top: $margin-base;
}

.hint {
  font-weight: 600;
  margin-bottom: 0;
}

.divider {
  border-color: rgba($secondary-color, 0.5);
  margin: 4px 0 $margin-base 0;
}

.pre-label {
  color: $secondary-color;
}