@use '/src/shared/styles/colors.scss' as *;

.radio-group {
  width: 100%;
  :global {
    .ant-radio-wrapper {
      display: flex;
      align-items: flex-start;

      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid rgba($secondary-color, 0.2);

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.radio-label {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;


  &-text {
    color: $secondary-color;
    white-space: nowrap;
  }
}