@use '/src/shared/styles/colors.scss' as *;
@use '/src/shared/styles/common.scss' as *;

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  color: $text-dark;
}

.name {
  color: $primary-color !important;
  font-weight: 700 !important;
  text-decoration: underline !important;
}

.subtitle {
  text-align: center;
  font-size: 22px;
  margin-bottom: $margin-lg;
  color: $secondary-color;
}

.banner {
  width: 90%;
  max-width: 670px;
}

.button {
  font-size: 16px;
  height: 36px;
  margin-top: $margin-base; 
}