@use '../../shared/styles/common.scss' as *;

.card {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
}

.full-size {
  min-height: calc(
    100vh
    - $header-height 
    - $header-border-width
    - $body-top-margin 
    - $body-bottom-margin
  );
}