.radio-group {
  :global {
    .ant-radio-wrapper {
      display: flex;
      align-items: flex-start;

      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.radio-label {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;


  &-text {
    color: gray;
    white-space: nowrap;
  }
}