@use '/src/shared/styles/colors.scss' as *;
@use '/src/shared/styles/common.scss' as *;
@use '/src/shared/styles/mixins.scss' as *;

.container {
  position: relative;

  height: 100%;
  // max-height: calc(700px - ($padding-base * 2));

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.form-title {
  margin: 0 !important;
  font-size: 18px;
}

.divider {
  margin: 0;
  background-color: $inactive;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;
  padding: $padding-base 0;
    
  width: 100%;
  background-color: $white;
}

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}