@use '/src/shared/styles/colors.scss' as *;

.error-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-icon {
  height: 80px;
  margin-bottom: 8px;
  g {
    fill: $inactive;
  }
}

.error-message {
  color: $secondary-color;
}