@use '../../shared/styles/common.scss' as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: $margin-sm;
}

.chart-container {
  width: 100%;
  height: 100%;
}