@use '/src/shared/styles/common.scss' as *;
@use '/src/shared/styles/colors.scss' as *;

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $page-height;
}

.error-image {
  width: 300px;
  height: 300px;
}

.error-description {
  font-size: 16px;
  margin-bottom: $margin-sm !important;
}

.error-popover-wrapper {
  color: $primary-color;
}

.error-popover-icon {
  margin-left: $margin-xs;
  color: $primary-color;
}

@media (max-width: 648px) { 
  .error-wrapper {
    flex-direction: column;
  }
  .error-title,
  .error-description,
  .error-popover-wrapper {
    text-align: center;
  }
}
