// Общие отступы
$padding-xs: 4px;
$padding-sm: 8px;
$padding-base: 16px;
$padding-lg: 24px;

$margin-xs: 4px;
$margin-sm: 8px;
$margin-base: 16px;
$margin-lg: 24px;

$border-radius-sm: 4px;
$border-radius: 8px;

// Размеры
$header-height: 64px;
$header-border-width: 1px;

$min-block-height: 450px;

$gap-xs: 4px;
$gap-sm: 8px;
$gap-base: 16px;
$gap-lg: 24px;

$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 18px;

// page layout sizes
$body-top-margin: calc(1.2 * $margin-base);
$body-bottom-margin: calc(1.2 * $margin-base);
$body-side-margin: calc(1.2 * $margin-base);