.fw {
  width: 100%;
}

.fh {
  height: 100%;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spin-card {
    .ant-spin-nested-loading {
      width: 100% !important;
      height: 100% !important;
      .ant-spin-container {
        width: 100% !important;
        height: 100% !important;
      }
    }
}
