.table {
  :global {
    .ant-table-row {
      cursor: pointer;
    }

    .ant-table-thead {
      .ant-table-cell {
        text-align: center;
        white-space: normal;
        word-break: break-word;
        max-width: 120px;
      }
    }
  }
}

.selected-row {
  font-weight: bold;
}