@use '/src/shared/styles/colors.scss' as *;

.table {
  :global {
    .ant-table-row {
      cursor: pointer;
    }

    .ant-table-content {
      th {
        max-width: 120px;
        min-width: 50px;
        word-wrap: break-word;
      }
    }
  }
}

.selected-row {
  font-weight: 600;
  background-color: rgba($primary-color, 0.08);
  transition: background-color 0.2s ease;

  &:hover {
    :global {
      .ant-table-cell-row-hover {
        background-color: rgba($primary-color, 0.09) !important;
      }
    }
    
  }
}