@use '/src/shared/styles/colors.scss' as *;

.radio-group {
  width: 100%;
  :global {
    .ant-radio-wrapper {
      display: flex;
      align-items: flex-start;

      margin-bottom: 12px;
      margin-right: 0;
      border: 1px solid rgba($secondary-color, 0.1);
      border-radius: 6px;
      padding: 8px 6px;
    }

    .ant-radio-wrapper-checked {
      border-color: rgba($primary-color, 0.3);
    }
  }
}

.label-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  color: $secondary-color;
  white-space: nowrap;
}