@use '/src/shared/styles/colors.scss' as *;
@use '/src/shared/styles/common.scss' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  height: $header-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border-bottom: $header-border-width solid $border-color;
  padding: 0 $padding-base;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  z-index: 999;
}

.title-container {
  cursor: pointer;
}

.logo {
  width: 26px;
  height: 26px;
  color: $primary-color;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item {
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.active {
  color: $primary-color;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-icon {
  width: 18px;
  height: 18px;

  cursor: pointer;

  &:hover {
    path {
      stroke: $primary-color;
    }
  }
}