@use '/src/shared/styles/common.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: $gap-base;
}

.title {
  margin: 0 !important;
}

.description {
  font-size: 1.1rem;
}