@use '/src/shared/styles/common.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
}

.title {
  margin: 0 !important;
}

.description {
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 991.5px) { 
  .title {
    font-size: 26px !important;
  }
  .description {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 22px !important;
  }
  .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) { 
  .description {
    font-size: 0.8rem;
  }
}