@use './shared/styles/colors' as *;
@use './shared/styles/common' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $bg-light;
  color: $text-dark;
  margin: 0;
  padding: 0;
}

.body-wrapper {
  height: calc(
     100%
    - $header-height 
    - $header-border-width
    - $body-top-margin 
    - $body-bottom-margin
  );
  margin: $body-top-margin $body-side-margin $body-bottom-margin $body-side-margin;
}

h1 {
  margin: 0 !important;
}