@use '../../../../shared/styles/common.scss' as *;
@use '../../../../shared/styles/mixins.scss' as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include card-title();
}

.chart-container {
  width: 100%;
  height: 100%;
}