@use '/src/shared/styles/common.scss' as *;

.container {
  width: 100%;
  height: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  min-height: inherit;
}

.title {
  width: 100%;
  text-align: center;
  margin: 0 !important;
  margin-bottom: $margin-base !important;
}

.actions-menu {
  float: right;
}